<div class="form">
  <%= render "layouts/errors", :object => @auction %>
  <%= form_for [@auction] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :description %>
    <%= f.text_area :description %><br>
    <%= f.label :start_date %>
    <%= f.datetime_local_field :start_date %><br>
    <%= f.label :end_date %>
    <%= f.datetime_local_field :end_date %><br><br>
    <%= f.submit %>
  <% end %>
</div>
