
<h2 class="text-center">Featured Auctions</h2>
<% @auctions.each do |auction| %>
  <div class="auction-box text-center">
    <%= auction.name %>
    <p><small>Live for bidding
      <% if auction.start_date.today? | auction.start_date.past?  %>
        now through <%= auction.end_date.strftime("%B %-d") %>
      <% else %>
    <%= auction.start_date.strftime("%B %-d") %>-<%= auction.end_date.strftime("%-d") %>

      <% end %>
    </small><br>
    <%= link_to 'Learn More', auction_path(auction), class: "auction-link"%></p>

  </div>


<% end %>

<%= link_to 'Add Auction', new_auction_path	 %>
