<% content_for(:title, "Art Auctions - Buying and Selling on artnet Auctions") %>




<hr>


<div class="container">
  <div class="col-md-12">
     <h2 class="text-center">Featured Auctions</h2>
     <br>
      <div id="auction_car" class="carousel slide">
        <div class="carousel-inner">
          <% auction_sets = @auctions.each_slice(4).to_a %>
          <% auction_sets.each do |set| %>
            <% if set === auction_sets[0] %>
                <% active = true %>
            <% end %>
            <div class="<%= active ? 'item active' : 'item' %>">
              <div class="row">
                <% set.each do |auction| %>
                  <div class="col-sm-3 carousel-section text-center">
                    <% if auction.lots.length > 0  %>
                        <div class="carousel-image-container">
                          <%= link_to auction_path(auction) do %>
                            <span class="carousel-image" style="background-image: url('<%= auction.lots[0].image.url %>');"><span>
                          <% end %>
                        </div>
                    <% end %>
                    <p><%= auction.name %><br>
                      <% if auction.start_date.today? | auction.start_date.past?  %>
                        now through <%= auction.end_date.strftime("%B %-d") %>
                      <% else %>
                        <small><%= auction.start_date.strftime("%B %-d") %>-<%= auction.end_date.strftime("%-d") %></small>
                      <% end %><br>
                    <%= link_to 'Learn More', auction_path(auction), class: "auction-link"%></p>
                  </div>

                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <% if @auctions.length > 3 %>
        <a class="left carousel-control" href="#auction_car" data-slide="prev"><img src="images/arrow_left.png" alt="left arrow"></a>
        <a class="right carousel-control" href="#auction_car" data-slide="next"><img src="images/arrow_right.png" alt="right arrow"></a>
      <% end %>
  </div>
</div>

<% if current_user && current_user.admin? %>
  <%= link_to 'Add Auction', new_auction_path, class: "btn btn-success"%>
<% end %>

<hr>

<div class="container">
  <div class="col-md-12">
     <h2 class="text-center">Featured Artists</h2>
     <br>
      <div id="artist_car" class="carousel slide">
        <div class="carousel-inner">
          <% artist_sets = @artists.each_slice(4).to_a %>
          <% artist_sets.each do |set| %>
            <% if set === artist_sets[0] %>
                <% active = true %>
            <% end %>
            <div class="<%= active ? 'item active' : 'item' %>">
              <div class="row">
                <% set.each do |artist| %>

                  <div class="col-sm-3 carousel-section text-center">
                    <% if artist.lots.length > 0  %>
                      <div class="carousel-image-container">
                        <%= link_to artist_path(artist) do %>
                          <span class="carousel-image" style="background-image: url('<%= artist.lots[0].image.url %>');"><span>
                        <% end %>
                      </div>
                    <% end %>
                    <%= link_to artist.name, artist_path(artist) %>
                  </div>


                <% end %>
                </div>

              </div>
            </div>
          <% end %>
        </div>
      </div>
      <% if @artists.length > 3 %>
        <a class="left carousel-control" href="#artist_car" data-slide="prev"><img src="images/arrow_left.png" alt="left arrow"></a>
        <a class="right carousel-control" href="#artist_car" data-slide="next"><img src="images/arrow_right.png" alt="right arrow"></a>
      <% end %>
  </div>
</div>
