<% content_for(:title, "#{@auction.name}") %>


<h1 class="text-center"><%= @auction.name %></h1>
<p class="bid-date text-center">Live for bidding
  <% if @auction.start_date.today? | @auction.start_date.past?  %>
    now through <%= @auction.end_date.strftime("%B %-d, %Y") %>
  <% else %>
<%= @auction.start_date.strftime("%B %-d") %> to <%= @auction.end_date.strftime("%B %-d, %Y") %>
  <% end %>
</p>
<hr>
<div class="text-center auction-description"><%= @auction.description %></div>

  <% @auction.lots.each do |lot| %>
<div class="">
  <%= link_to "#{image_tag(lot.image(:medium))}".html_safe, auction_lot_path(@auction, lot), class: 'lot-image' %><br>
    <% if lot.artist %>
      <%= lot.artist.name %><br>
    <% else %>
      Unknown Artist<br>
    <% end %>
    <%= link_to "#{lot.artwork_title}, #{lot.artwork_date}" , auction_lot_path(@auction, lot) %><br>
    <%= link_to lot.estimate, auction_lot_path(@auction, lot) %>
</div>

  <% end %>


<% if current_user && current_user.admin? %>
  <%= link_to 'Edit Auction', edit_auction_path(@auction), class: "btn btn-primary" %>
  <%= link_to 'Delete Auction', auction_path(@auction), class: "btn btn-danger",
                            :data => {:confirm => "Are you sure?",
                            :method => "delete"} %>

  <%= link_to 'Add Lot', new_auction_lot_path(@auction), class: "btn btn-success" %>
<% end %>
