<h1 class="text-center"><%= @auction.name %></h1>
<p class="text-center">Live for bidding
  <% if @auction.start_date.today? | @auction.start_date.past?  %>
    now through <%= @auction.end_date.strftime("%B %-d, %Y") %>
  <% else %>
<%= @auction.start_date.strftime("%B %-d") %> to <%= @auction.end_date.strftime("%B %-d, %Y") %>
  <% end %>
</p>
<hr>
<p class="text-center"><%= @auction.description %></p>

<% @auction.lots.each do |lot| %>
  <%= link_to lot.artwork_title, auction_lot_path(@auction, lot) %><br>
  <%= link_to lot.artwork_date, auction_lot_path(@auction, lot)%><br>
  <%= link_to lot.estimate, auction_lot_path(@auction, lot) %>
<% end %>


<% if current_user && current_user.admin? %>
  <%= link_to 'Edit Auction', edit_auction_path(@auction) %>
  <%= link_to 'Delete Auction', auction_path(@auction),
                            :data => {:confirm => "Are you sure?",
                            :method => "delete"} %>

  <%= link_to 'Add Lot', new_auction_lot_path(@auction) %>
<% end %>
